#type{
    font-size: smaller;
}
#rating{
    font-size: x-small;
}
#coupen{
    font-size: small;
}
#time{
    font-size: small;
}
#price{
    font-size: small;
}
#bodybg{
    background-color: #202A44;
}