
            <section id="info" class="text-center">
                <div class="container-fluid">
                    <div class="row" style="background-color: white;">
                        <div class="col-lg-3 bg-black">
                            <ul class="list-unstyled">
                                <li class="mt-5 mb-4" style="color: #adb5bd;">COMPANY</li>
                            </ul>
                            <ul id="list" class="list-unstyled text-white ">
                                <li class="my-2">About Us</li>
                                <li class="my-2">Team</li>
                                <li class="my-2">Careers</li>
                                <li class="my-2">Swiggy Blog</li>
                                <li class="my-2">Bug Bounty</li>
                                <li class="my-2">Swiggy One</li>
                                <li class="my-2">Swiggy Corporate</li>
                                <li class="my-2">Swiggy Instamart</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 bg-black">
                            <ul class="list-unstyled">
                                <li class="mt-5 mb-4" style="color: #adb5bd;">CONTACT</li>
                            </ul>
                            <ul id="list" class="list-unstyled text-white">
                                <li class="my-2">Help & Support</li>
                                <li class="my-2">Partner with us</li>
                                <li class="my-2">Ride with us</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 bg-black">
                            <ul class="list-unstyled">
                                <li class="mt-5 mb-4" style="color: #adb5bd;">LEGAL</li>
                            </ul>
                            <ul id="list2" class="list-unstyled text-white">
                                <li class="my-2">Terms & Conditions</li>
                                <li class="my-2">Refund & Cancellation</li>
                                <li class="my-2">Privacy Policy</li>
                                <li class="my-2">Cookie Policy</li>
                                <li class="my-2">Offer Terms</li>
                                <li class="my-2">Phishing & Fraud</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 bg-black">
                            <div>
                                <a href="https://play.google.com/store/apps/details?id=in.swiggy.android">
                                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl"
                                        alt="" height="65" width="200" style="margin-top: 100px;">
                                </a>
                               <br>
                               <a href="https://itunes.apple.com/in/app/swiggy-food-order-delivery/id989540920">
                                <img class="my-4"
                                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv"
                                    alt="" height="65" width="200">
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<div class="container-fluid">
    <div class="row " style="background-color: white;">
        <div class="col-lg-3  col-sm-6 bg-black">
            <ul class="list-unstyled">
                <li class="mt-5 mb-5" style="color: #adb5bd; margin-left: 40px;">WE DELEVER TO</li>
            </ul>
            <ul id="list mx-5" class="list-unstyled text-white ">
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
            </ul>
        </div>

        <div class="col-lg-3 col-sm-6 bg-black">
            <ul class="list-unstyled">
                <li class="mt-5 mb-5" style="color: #adb5bd;"><br></li>
            </ul>
            <ul id="list" class="list-unstyled text-white">
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
            </ul>
        </div>

        <div class="col-lg-3 col-sm-6 bg-black">
            <ul class="list-unstyled">
                <li class="mt-5 mb-5" style="color: #adb5bd;"><br> </li>
            </ul>
            <ul id="list2" class="list-unstyled text-white">
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
            </ul>
        </div>

        <div class="col-lg-3 col-sm-6 bg-black">
            <ul class="list-unstyled">
                <li class="mt-5 mb-5" style="color: #adb5bd;"><br> </li>
            </ul>
            <ul id="list2" class="list-unstyled text-white">
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Abohar</li>
                <li class="my-2">Adilabad</li>
                <li class="my-2">Adityapur</li>
                <li class="my-2">Adoni</li>
                <li class="my-2">Agartala</li>
                <li class="my-2">Agra</li>
                <li class="my-2">Ahmedabad</li>
                <li class="my-2">Ahmednagar</li>
                <li class="my-2">Aizawl</li>
                <li class="my-2">Ajmer</li>
                <li class="my-2">Akola</li>
                <li class="my-2">Allapuzzha</li>
                <li class="my-2">Aligarh</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
                <li class="my-2">Chopda</li>
                <li class="my-2">Churu</li>
                <li class="my-2">Coimbatore</li>
                <li class="my-2">Cooch-Behar</li>
                <li class="my-2">Cuddalore</li>
                <li class="my-2">Cuttack</li>
                <li class="my-2">Dabhoi</li>
                <li class="my-2">Dabra</li>
                <li class="my-2">Dahod</li>
                <li class="my-2">Daltonganj</li>
                <li class="my-2">Daman</li>
                <li class="my-2">Damoh</li>
                <li class="my-2">Darbhanga</li>
                <li class="my-2">Alipuduar</li>
                <li class="my-2">Allahabad</li>
                <li class="my-2">Baddi</li>
                <li class="my-2">Bagalkot</li>
                <li class="my-2">Bagdogra</li>
                <li class="my-2">Bagula</li>
                <li class="my-2">Bhavnagar</li>
                <li class="my-2">Ballari</li>
                <li class="my-2">Banda</li>
                <li class="my-2">Bangalore</li>
                <li class="my-2">Bankura</li>
                <li class="my-2">Bantwal</li>
                <li class="my-2">Bapatlachirala</li>
                <li class="my-2">Baran</li>
                <li class="my-2">Baraut</li>
                <li class="my-2">Bareilly</li>
            </ul>
        </div>
    </div>
</div>


<footer id="main-footer" class="py-5 bg-black text-white">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img style="margin-left: 130px;"
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_284/Logo_f5xzza" alt=""
                height="40" width="142">
        </div>
        <div class="col-lg-4">
            <p class="lead" style="margin-left: 170px;"> &copy; 2022 Copyright</p>
        </div>
        <div class="col-lg-4">
            <a style="margin-left: 170px;" href="https://www.facebook.com/swiggy.in"><img class="ms-4"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-facebook_tfqsuc"
                    alt="" height="24" width="24"></a>
            <a href="https://pinterest.com/swiggyindia"><img class="ms-4"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-pinterest_kmz2wd"
                    alt="" height="24" width="24"></a>
            <a href="https://instagram.com/swiggyindia/"><img class="ms-4"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-instagram_b7nubh"
                    alt="" height="24" width="24"></a>
            <a href="https://twitter.com/swiggy_in"><img class="ms-4"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-twitter_gtq8dv"
                    alt="" height="24" width="24"></a>
        </div>
    </div>
</div>
</footer>
