<!-- <select name="city" formControlName="cityid">
  <option *ngFor="let item of city" value="{{item.cityid}}">{{item.cityname}}</option>
</select> -->
<!-- <table class="table table-striped">
  <tr>
    <th>CityName</th>
  </tr>
  <tr *ngFor="let item of city">
    <td>{{item.cityname}}</td>
  </tr>
</table> -->
<!-- <div [formGroup]="citydetail">
  <input type="text" placeholder="CityName" formControlName="cityname" />
  <button type="submit" (click)="postCity()">Add</button>
</div> -->

<app-city></app-city>

<div class="container bg-dark ">
  <h2 class="text-white">Restaurant Details</h2>
<div [formGroup]="restaurantdetail">
  <div class="row">
       <div class="col-md-4">
        <label  class="form-label text-white">RestaurantId :</label>
        <input readonly type="text" class="readonly form-control my-1" placeholder="readonly" formControlName="restaurantid">
        <label  class="form-label text-white">Restaurant Name :</label>
        <input type="text" class="form-control my-1" placeholder="Restaurantname" formControlName="restaurantname" />
        <label  class="form-label text-white">RestaurantType :</label>
        <input type="text" class="form-control my-1" placeholder="RestaurantType" formControlName="restauranttype" />
       </div>
       <div class="col-md-4">
        <label  class="form-label text-white">Rating:</label>
        <input type="number" class="form-control my-1" placeholder="rating" formControlName="rating" />
        <label  class="form-label text-white">Time :</label>
        <input type="number" class="form-control my-1" placeholder="times" formControlName="times" />
        <label  class="form-label text-white">Price For Two :</label>
        <input type="number" class="form-control my-1" placeholder="price" formControlName="price" />
       </div>
       <div class="col-md-4">
        <label  class="form-label text-white">Coupen :</label>
        <input type="text" class="form-control my-1" placeholder="coupen" formControlName="coupen" />
        <label  class="form-label text-white">Location :</label>
        <input type="text" class="form-control my-1" placeholder="addresss" formControlName="addresss" />
        <label  class="form-label text-white">City :</label>
        <select name="city" class="my-1 form-control" formControlName="cityid">
            <option class="dropdown-toggle" *ngFor="let item of city" value="{{item.cityid}}">{{item.cityname}}</option>
          </select>
       </div>
  </div>
   
    
   <div class="my-3">
      <button type="submit" class="btn btn-primary mx-2" (click)="post()">Add</button>
      <button type="button" class="btn btn-warning mr-2" (click)="update()">Update</button>
    </div>
    <!-- <button type="button" (click)="update()">Update</button> --> 
   
  
  </div>

<table class="table table-striped text-white">
    <caption></caption>
    <tr>
      <th>RestaurantId</th>
      <th>RestaurantName</th>
      <th>RestaurantType</th>
      <th>Rating</th>
      <th>Times</th>
      <th>Price</th>
      <th>Coupen</th>
      <th>addresss</th>
      <th>CityName</th>
    </tr>
    <tr *ngFor="let item of restaurants">
      <td>{{item.restaurantid}}</td> 
      <td> {{item.restaurantname}}</td>
      <td> {{item.restauranttype}}</td>
      <td> {{item.rating}}</td>
      <td>{{item.times}}</td>
      <td>{{item.price}}</td>
      <td>{{item.coupen}}</td>
      <td>{{item.addresss}}</td>
      <td >
        <ng-container *ngFor="let item1 of city">
                    <label *ngIf="item1.cityid==item.cityid">{{item1.cityname}}</label>
        </ng-container>
      </td>
      <td><button class="btn btn-warning text-white" (click)="edit(item)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="delete(item.restaurantid)">Delete</button></td>
      <!-- <td><button (click)="edit(item)">Edit</button></td> -->
      <!-- <td><button type="button" (click)="delete(item.id)">Delete</button></td> -->
    </tr>
  </table>

</div>
  <!-- images:string;
  restaurantname:string;
  restauranttype:string;
  rating:number;
  times:number;
  price:string;
  coupen:string;
  restaurantid:number;
  cityid:number;
  addresss:string; -->




  <app-food-master></app-food-master>


  <!-- <div [formGroup]="fooditem">
     <input type="text" readonly formControlName="fooditemid" /> 
    <select name="foodtype" formControlName="foodid">
      <option *ngFor="let item of foodmaster" value="{{item.foodid}}">{{item.foodname}}</option>
    </select>
    <select name="restarantname" formControlName="restaurantid">
      <option *ngFor="let item of restaurants" value="{{item.restaurantid}}">{{item.restaurantname}}</option>
    </select>

    <input type="text" placeholder="Foodname" formControlName="foodname" />
    <input type="number" placeholder="Price" formControlName="price" />
    <input type="text" placeholder="Description" formControlName="description" />
     <button type="submit" (click)="postFooditem()">Add</button>
      <button type="button" (click)="update()">Update</button>

   
  
  </div>

  <table class="table table-striped">
    <caption></caption>
    <tr>
      <th>FoodItemId</th>
      <th>FoodCategory</th>
      <th>RestaurantName</th>
      <th>FoodName</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let item of fooditem">
      <td> {{item.fooditemid}}</td>
      <td>
        <ng-container *ngFor="let item1 of foodmaster">
          <label *ngIf="item1.foodid==item.foodid">{{item1.foodname}}</label>
        </ng-container>
      </td>
        <td>
          <ng-container *ngFor="let item1 of restaurants">
            <label *ngIf="item1.restaurantid==item.restaurantid">{{item1.restaurantname}}</label>
          </ng-container>
        </td>
      <td> {{item.foodname}}</td>
      <td>{{item.price}}</td>
      <td>{{item.description}}</td> -->



      <!-- <td >
        <ng-container *ngFor="let item1 of city">
                    <label *ngIf="item1.cityid==item.cityid">{{item1.cityname}}</label>
        </ng-container>
      </td>
      <td><button (click)="edit(item)">Edit</button></td>
      <td><button type="button" (click)="delete(item.restaurantid)">Delete</button></td>
     <td><button (click)="edit(item)">Edit</button></td> -->
      <!-- <td><button type="button" (click)="delete(item.id)">Delete</button></td> -->
    <!-- </tr> -->
  <!-- </table> -->
<!-- {{fooditem | json}} -->
<app-fooditemadmin></app-fooditemadmin>