
body {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      margin: 0;
  }
  
  .header {
    height: 80px;
    width: 100%;
    position: fixed;
    padding: 20px;
    text-align: center;
    background: #ff0000;
    color: white;
    font-size: 30px;
  }
  
  .footer {
    position: fixed;
    padding: 20px;
    bottom: 5px;
    left: 0;
    width: 100%;
    background-color: rgb(219, 163, 8);
    color: white;
    text-align: center;
    }
      .navbar{overflow: hidden;
              position: fixed;
              top: 0;
              width: 100%;}

      
      .navbar a{
        font-size: large;
        margin-top: 85px;
        float: left;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
      }
      img{height: 70px;
         width: 70px;
         overflow: hidden;
         float: right;
       margin-right: 50px;}
         
         .sidebar {
          margin-top: 100px;
          float: left;
          left: 0;
          padding: 0;
          width: 200px;
          background-color: #e9d418;
          position:fixed   ;
          height: 447px;
          overflow: auto;
        }
        
        .sidebar ul li a {  
          font-size: 25px;
          display: block;
          color: black;
          padding: 8px;
          text-decoration: none;
        }
        
        
         
        
        div >content {
          margin-left: 200px;
          padding: 1px 16px;
          height: 1000px;
        }
        
          .sidebar a {float: left;}
          div.content {margin-left: 0;}
        
        
        div .content{color:black;
        float: left;}