._3a391 {
    width: 271px;
    height: 256px;
    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
._3Y9ZP {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #535665;
}
.d7jCU {
    margin-top: 8px;
    color: #7e808c;
}
._3pgCg {
    margin-top: 30px;
    padding: 11px 20px;
    text-transform: uppercase;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 15px;

   
}