<!-- <table *ngFor="let item of cartitems">
    <td>{{item.fooditemid}}</td>
</table> -->
<div class="container" *ngIf="cartempty()">
    <div class="row">
            <div class="col-md-8" *ngIf="isLoggedIn()">
                <div class="mx-5 mt-3">
                    <h4>Logged In</h4>
                    <ng-container *ngFor="let item of users">
                        <h5 class="my-2" *ngIf="item.useremail == useremail">{{item.username}}</h5>
                    </ng-container>   
                </div>

             <!--    <div class="mx-5 mt-5 bg-dark text-white">
                    <ng-container *ngFor="let item of users">
                    <ng-container *ngFor="let item1 of address;let i = index">
                         <ng-container *ngIf="item1.useremail == item.useremail">
                            {{item1}}
                        delivery address
                        </ng-container> -->
<!-- 
                        <div *ngIf="item1.userid == item.userid && item.useremail == useremail">
                        <form [formGroup]="formdertail">
                             {{item1.addresses}}
                            <select  name="addid" (change)=" addchange($event)" formControlName="addid">
                                <option value="{{item1.addid}}">{{item1.addresses}}</option>
                              </select> -->
                            <!-- <input type="radio" value="{{item1.addid}}" name="addid" (change)=" addchange($event)" formControlName="addid"> -->
                            <!-- <label>{{item1.addresses}}</label><br> -->
                    <!-- </form>

                        </div>

                    </ng-container>
                </ng-container>
            </div> --> 
        
            <button class="btn btn-success px-3 mt-5 ms-4 mb-4" (click)="selectAddress()">Select Address</button>
            <select class="form-control" *ngIf="flag" name="addid" (change)=" addchange($event)" formControlName="addid">
                <option *ngFor="let item1 of useraddress" value="{{item1.addid}}">{{item1.addresses}}</option>
              </select>
            <div *ngIf="flag">
            <h5>Add Address:</h5>
            <div [formGroup]="adddetails">
                <input class="form-control my-2 " style="width: 350px;" type="text" placeholder="Address " formControlName="addresses" />
                <button class="btn btn-primary me-2 " type="submit" (click)="postAddress()">Add</button>
              </div>
            </div>
            <form [formGroup]="formdertail" class="ms-4">
                <!-- {{item1.addresses}} -->
               
                <!-- <input type="radio" value="{{item1.addid}}" name="addid" (change)=" addchange($event)" formControlName="addid"> -->
                <!-- <label>{{item1.addresses}}</label><br> -->
               
        </form>
               
            </div>
            <div class="col-md-4 border border-1 border-dark border-dashed">
                <div class=" mt-3 text-center">
                <h4>Swiggy</h4>
                <hr>
            </div>
                <div  *ngFor="let item of cartitems">
                    <p class="ms-5"> {{item.foodname}} <span class="ms-5">{{item.quantity}}</span><span class="me-5 float-end"> &#8377;{{item.price}}</span></p>  
                </div>
                <hr>
                <div>
                    <p class="ms-5"> Bill Details </p>  
                </div>
                <div>
                    <p class="ms-5"> Item Total <span class="me-5 float-end"> &#8377;{{getSubtotal}}</span></p>  
                </div>
                <div>
                    <p class="ms-5"> Delivery Fee <span class="me-5 float-end"> &#8377;50</span></p>  
                </div>
                <hr>
                <div>
                    <p class="ms-5 "> Taxes and Charges <span class="me-5 float-end"> &#8377;0</span></p>  
                </div>
                <hr>
                <div>
                    <p class="ms-5 "> TO PAY <span class="me-5 float-end"> &#8377;{{Total}}</span></p>  
                </div>
                <div>
                    <button  class="ms-5 mb-4 mt-3 px-4 btn btn-primary " routerLink="/login" *ngIf="!isLoggedIn()">Login</button>
                    <ng-container *ngIf="isLoggedIn()">
                        <button class="ms-5 mb-4 mt-3 px-4 btn btn-primary" routerLink="/profile"  (click)="pay()">PAY</button>
                    </ng-container>    

                </div>
            </div>
    </div>
</div>


<!-- {{address|json}}
{{cartitems |json}}
{{users|json}}
<hr>
{{order|json}}
<hr> -->
<div *ngIf="!cartempty()">

    <div class="_3a391"></div>
    <div class="_3Y9ZP text-center">Your cart is empty</div>
    <div class="d7jCU text-center">You can go to home page to view more restaurants</div>
 <div class="text-center">
        <button type="button" class="_3pgCg btn btn-primary" routerLink="/">See restaurants near you</button>
      </div>
</div>
