em<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px;">
  <!-- Container wrapper -->
  <div class="container-fluid " id="nav">
    <!-- Toggle button -->
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <div>
        <img src="https://w7.pngwing.com/pngs/55/100/png-transparent-swiggy-hd-logo-thumbnail.png" class="ml-80" height="49" width="34" alt="Flowbite Logo"  />
      </div>
      <div id="spannav">
        <span class="fw-bold ms-5 me-2"><u class="mt-2">Chandkheda</u></span>
        <span class="text-gray-700">New Chamunda Society,Godre..</span>
        <span ><em class="fa fa-caret text-orange-500"></em></span>  

      </div>
      <!-- Left links -->
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbarlist">
        <li class="nav-item mx-2">
          <a  class="nav-link" href="#">
            <span><em class="fa fa-search mx-2"></em></span>Search</a>
        </li>
        <li class="nav-item mx-2">
          <a  class="nav-link" href="#" >
            <span><em class="fa fa-gift mx-2"></em></span>Offer</a>
        </li>
        <li class="nav-item mx-2">
          <a  class="nav-link" href="#">
            <span><em class="fa-solid fa-circle mx-2"></em></span>Help</a>
        </li>
        <li class="nav-item mx-2">
          <a  class="nav-link" href="#">
            <span><em class="fa far fa-user mx-2"></em></span>Sign in</a>
        </li>
        <li class="nav-item mx-2">
          <a  class="nav-link" href="#">
            <span><em class="fa fas fa-cart-arrow-down mx-2"></em></span>Cart</a>
        </li>
      </ul>
   
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
